<html>
        <head>
            <title>Space blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Space blog</a></h1>
            </div>

            <div>
                <p>published: 12.04.2016, 16:02</p>
                <h2><a href="">108 минут вокруг Земли </a></h2>
                <p>55 лет назад Гагарин полетел в космос! Ура!</p>
            </div>

            <div>
                <p>published: 12.06.2016, 16:04</p>
                <h2><a href="">Белка и Стрелка</a></h2>
                <p>Собаки тоже космонавты.</p>
            </div>
        </body>
    </html>
